@import "tailwindcss";
@source "/components/";

@font-face {
  font-family: Estedad2;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/aminabedi68/Estedad/fonts/webfonts/variable/Estedad%5BKSHD%2Cwght%5D.woff2")
    format("woff2");
}
@layer base {
  * {
    @apply outline-none;
  }
  html {
    font-family: "Estedad2", sans-serif;
    @apply text-center;
  }

  /* center all containers */
  .container {
    @apply mx-auto;
    @apply p-4;
  }
}
